<table class="table">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Started On</th>
        <th>Status</th>
        <th>Project Manager</th>
        <th>Members</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of projects">
        <td>{{ item.name }}</td>
        <td>{{ item.startedOn | date }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.projectManager }}</td>
        <td>{{ item.members }}</td>
      </tr>
      <!-- <tr>
        <td>project.StartedOn | date </td>
        <td>project.Status </td>
        <td>project.ProjectManager </td>
        <td>project.Name </td>
        <td>project.Members </td>
      </tr> -->
    </tbody>
  </table>
  