<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">New Project</h5>
      <button type="button" class="close" (click)="closeModal()">×</button>
    </div>
    <div class="modal-body">
      <!-- Form for project details -->
      <form (ngSubmit)="submitProject()">
        <!-- Project name -->
        <div class="form-group">
          <label for="projectName">Project Name</label>
          <input type="text" class="form-control" id="projectName" name="projectName" required [(ngModel)]="project.name">
        </div>
        <!-- Description -->
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description" required [(ngModel)]="project.description"></textarea>
        </div>
        <!-- Project Manager -->
        <div class="form-group">
          <label for="projectManager">Project Manager</label>
          <select class="form-control" id="projectManager" name="projectManager" required [(ngModel)]="project.projectManager">
            <option *ngFor="let manager of projectManagers" [value]="manager">{{ manager }}</option>
          </select>
        </div>
        <!-- Other fields (Client Name, Email) -->
        <!-- These fields won't be stored in the database -->
        <div class="form-group">
          <label for="clientName">Client Name</label>
          <input type="text" class="form-control" id="clientName" name="clientName" [(ngModel)]="clientName">
        </div>
        <div class="form-group">
          <label for="clientEmail">Client Email</label>
          <input type="email" class="form-control" id="clientEmail" name="clientEmail" [(ngModel)]="clientEmail">
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
