<div class="container-fluid">
  <div class="row">
    <app-header></app-header>
    <div class="col-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="#">My Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link active" routerLink="/allprojects">All projects <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">In progress</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Completed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Hold</a>
        </li>
      </ul>
    </div>
  </nav> -->
  
  