<div class="container py-5">
    <h3 class="text-center text-uppercase">List of Phase Milestones</h3>
    <table class="table table-bordered table-striped">
      <thead>
        <tr class="text-center text-uppercase">
          <th>Title</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Approval Date</th>
          <th>Comment</th>
          <th>Status</th>
          <th>Revised Completion Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let milestone of phaseMilestones">
          <td>{{ milestone.title }}</td>
          <td>{{ milestone.startDate | date }}</td>
          <td>{{ milestone.endDate | date }}</td>
          <td>{{ milestone.approvalDate }}</td>
          <td>{{ milestone.comments }}</td>
          <td>{{ milestone.status }}</td>
          <td>{{ milestone.revisedCompletionDate }}</td>
          <td>
            <button class="btn btn-primary me-2" (click)="openEditModal(milestone)">Edit</button>
            <button class="btn btn-danger" (click)="deletePhaseMilestone(milestone)">Delete</button>
          </td>
        </tr>
        <tr *ngIf="isNewRow">
          <td><input type="text" [(ngModel)]="newPhaseMilestone.title"></td>
          <td><input type="date" [(ngModel)]="newPhaseMilestone.startDate"></td>
          <td><input type="date" [(ngModel)]="newPhaseMilestone.endDate"></td>
          <td><input type="text" [(ngModel)]="newPhaseMilestone.approvalDate"></td>
          <td><input type="text" [(ngModel)]="newPhaseMilestone.comments"></td>
          <td><input type="text" [(ngModel)]="newPhaseMilestone.status"></td>
          <td><input type="text" [(ngModel)]="newPhaseMilestone.revisedCompletionDate"></td>
          <td><input type="text" [(ngModel)]="newPhaseMilestone.projectId" placeholder="Enter Project Id here"></td>
          <td><button class="btn btn-success" (click)="saveNewRow()">Add row</button></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary me-2" (click)="addNewRow()">+</button>
    <!-- <button class="btn btn-success" (click)="saveChanges()">Save Changes</button> -->
  </div>
  